[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kotamahesh
[access "refs/for/refs/*"]
	read = group user/kotamahesh
	push = group user/kotamahesh
	label-Code-Review = -2..+2 group user/kotamahesh
	label-Verified = -1..+1 group user/kotamahesh
	rebase = group user/kotamahesh
	removeReviewer = group user/kotamahesh
	submit = group user/kotamahesh
[access "refs/heads/*"]
	read = group user/kotamahesh
	create = group user/kotamahesh
	push = +force group user/kotamahesh
	pushMerge = group user/kotamahesh
[access "refs/tags/*"]
	push = group user/kotamahesh
	push = +force group user/kotamahesh
